<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Jobs</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<img src="https://cdn-icons-png.flaticon.com/512/5229/5229377.png" height="200"/>
			<!-- <vui-orchestra th:api-url="@{/api/orchestra}" ></vui-orchestra> -->
		</section>
		
		<section layout:fragment="javascript-footer">
			<!-- <script src="http://localhost:3001/js/chunk-vendors.js"></script> -->
			<!-- <script src="http://localhost:3001/js/app.js"></script> -->
			<script type="text/javascript">
				//Vue.use(VertigoOrchestraUi)
			</script>
		</section>
	</body>
	
</html>