<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Jobs</title>
	</head>
	
	<body>
		<section layout:fragment="content" >
			<div id=q-app></div>
			
			<div id=q-app></div>
			<script type="text/javascript" src="http://127.0.0.1:8887/js/vendor.ad647edf.js"></script>
			<script type="text/javascript" src="http://127.0.0.1:8887/js/app.d34ec212.js"></script>
			
		</section>
	</body>
	
</html>