<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
    <link rel="stylesheet" th:href="@{/static/css/mars.css}"/>
    <link rel="icon" th:href="@{/static/img/favicon.ico}"/>
    <title>Vertigo - Mars - Prise de rendez-vous</title>
    <script th:src="@{/static/js/mars.js}"></script>
    <!-- qcalendar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qcalendar@3.4.1/dist/index.min.css" type="text/css"/>
        
        <script th:src="@{/static/js/planning.js}"></script>
</head>

<body class="mat desktop no-touch platform-mat" >
        <vu:page >
               
               <div class="row q-col-gutter-md" style="position: relative; width: 1080px; margin: 0 auto;">
                     <img th:src="@{/static/img/planningSelectBg.png}" ></img>
                      <div class="col-12">
                      <div><b>Choisissez votre creneau pour la démarche <b>Naturalisation</b></div>
                      <div style="position: absolute;  top: 175px; right: 10px;">
                      <v-notifications th:base-url="@{/api/}" :type-icon-map="notificationTypes()" ></v-notifications>
                      </div>
                             <div class="row justify-center items-center">
                              <q-btn flat dense label="Précédent" @click="calendarPrev"></q-btn>
                              <q-btn flat dense label="Suivant" @click="calendarNext"></q-btn>
                            </div>
                           <vu:include-data-primitive key="todayDate" />
                           <vu:include-data object="events" field="eventId" />
                           <vu:include-data object="events" field="dateTime" />
                           <vu:include-data object="events" field="durationMinutes" />
                           <vu:include-data object="events" field="eventStatusId" />
                           <vu:include-data object="events" field="affectedUrl" />
                           <vu:include-data object="events" field="affectedLabel" />
                           <q-calendar ref="calendar" 
                           locale="fr"
                           hour24-format
                           interval-minutes="30"
                           interval-start="15"
                           interval-count="22"
                           interval-height="20"
                           view="week"
                           :weekdays="[1, 2, 3, 4, 5]"
                           animated
                           th:@click:time2="|/*onClickCalendar('@{/api/planning/event/}${model.base.baseId}/_addFree', $event)*/|"
                           th:@hook:mounted="|loadEvents('@{/api/planning/event/}${model.base.baseId}/my')|"
                           transition-prev="slide-right"
                           transition-next="slide-left"
                           v-model="vueData.todayDate">
                           
                           <template #day-body="{ timestamp, timeStartPos, timeDurationHeight }">
                            <template v-for="(event, index) in getEvents(timestamp.date, vueData.events)">
                              <q-badge
                                :key="event.eventId"
                                class="my-event justify-center"
                                :class="badgeClasses(event, 'body')"
                                :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
                                th:@click.stop.prevent="|onClickPreSelect(event);|"                              
                              > 
                              <div class="row col ">
                               <q-icon v-if="event.eventStatusId=='PENDING'" size="sm" name="pending_actions" class="q-mr-xs"></q-icon>
                               <q-icon v-if="event.eventStatusId=='RESERVED'" size="sm" name="event_available" class="q-mr-xs"></q-icon>
                               <q-icon v-if="event.eventStatusId=='BLOCKED'" size="sm" name="do_disturb" class="q-mr-xs"></q-icon>
                               <q-avatar v-if="event.eventStatusId=='PENDING'" size="sm" class="q-mr-xs"><img th::src="|'@{/api}'+event.affectedUrl|" alt="user avatar"/></q-avatar>
                               <q-avatar v-if="event.eventStatusId=='RESERVED'" size="sm" class="q-mr-xs"><img th::src="|'@{/api}'+event.affectedUrl|" alt="user avatar"/></q-avatar>
                            
                               <span class="ellipsis">{{event.affectedLabel}}</span>
                               <div class="row self-center justify-end col showButtonOnHover">                     
                                    <q-btn size="md" flat icon="event_busy" padding="xs" :ripple="false"
                                    v-if="event.eventStatusId=='PENDING' || event.eventStatusId=='RESERVED'"
                                    th:@click.stop.prevent="|onClickUnReserve('@{/api/planning/event/}${model.base.baseId}/_unreserve', event)|"></q-btn>
                               </div>
                              </div>
                              </q-badge>
                            </template>
                          </template>
                           
                           </q-calendar>
                           
            
                    </div>
                  </div>
            <q-dialog v-model="dataX.selectEvent">
            <q-card padding="md">
		        <vu:form>
		        <q-card-section>
	            <vu:grid cols="1">
                    <vu:include-data object="selectedEvent" field="eventId" />
                    <vu:include-data object="selectedEvent" field="dateTime" />
                    <vu:include-data object="selectedEvent" field="durationMinutes" />
	                <vu:text-field-edit object="selectedEvent" field="affectedLabel" label="Nom Prenom" autofocus />
	            </vu:grid>
	            </q-card-section>
	               <q-card-actions align="right">
                      <q-btn flat label="OK" type="submit" color="primary" th:@click.stop.prevent="|onClickSelect('@{/api/planning/event/}${model.base.baseId}/_select', vueData.selectedEvent);|" v-close-popup></q-btn>
                      <q-btn flat label="Cancel" type="reset" color="primary" v-close-popup></q-btn>
                    </q-card-actions>
                
	            </vu:form>
	            </q-card>
		    </q-dialog>
        </vu:page>
        <section layout:fragment="javascript-footer" >
            <script src="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qcalendar@3.4.1/dist/index.umd.js"></script>
        </section>
</body>
</html>