<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Master data - Equipment category</title>
		<script th:src="@{/vertigo-ui/static/easyforms/js/vertigo-easyforms.js}" th:data-context="@{/}"></script>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
	        <q-item tag="a" href="#information">Information</q-item>
	        <q-item th:if="${!model.modeCreate}" tag="a" href="#surveyFields">Survey fields</q-item>	
		</section>
		
		<section>
			<div layout:fragment="content-header-left">
				<div class="detailType">
					<q-icon name="fas fa-rocket" class="detailTypeIcon q-mx-md gt-md"></q-icon>
				</div>
			</div>
			<div layout:fragment="content-header-title">
				<span class="text-bigger" vu:text="${model.category.label}"></span> 
			</div>
			<div layout:fragment="content-header-actions">
				<vu:button-link th:if="${model.modeEdit}" url="@{/catalog/masterdata/equipmentCategory/} + ${model.category.equipmentCategoryId}"
								:round size="lg" color="secondary-inverted" icon="fas fa-ban" :flat title="Cancel" class="on-left" 
								v-alert-unsaved-updates="'fields'" />					
				<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" round flat size="lg" color="secondary-inverted" icon="far fa-pen-to-square" title="Edit" class="on-left"/>
			</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:block id="information" title="Information">
				<vu:text-field object="category" field="label" label="Label"/>
				<vu:checkbox object="category" field="active" label="Active"/>
			</vu:block>
			
			<div class="col-12" v-if-unsaved-updates>
				<div th:if="${model.modeEdit}" class="q-card bg-info text-white col">
					<div class="q-card-main q-pa-md">
						<div class="q-item-label">Your changes will only be taken into account after saving the page</div>
					</div>
				</div>
			</div>
			
			<vu:include-data object="fields" field="isDefault" />
			<vu:include-data object="fields" field="isMandatory" />
			<vu:table id="surveyFields" title="Survey fields" list="fields" componentId="champTable" rowsPerPage="0" hide-pagination class="auto-ellipsis" gridBreak="md">
				<vu:slot name="top_right_slot">
					<vu:button th:if="${!model.modeReadOnly}" icon="add" title="Add field" @click="efAddItem()"/>
				</vu:slot>
				<vu:slot th:if="${!model.modeReadOnly}" name="actions_slot">
					<vu:button :disabled="!(props.rowIndex > 0)"
					           flat icon="fas fa-arrow-up" title="Move field up" @click="efMoveItem(props.rowIndex,-1)"/>
					<vu:button :disabled="!(props.rowIndex < vueData.fields.length - 1)"
					           flat icon="fas fa-arrow-down" title="Move field down" @click="efMoveItem(props.rowIndex,1)"/>
					<vu:button flat icon="fas fa-pencil-alt" title="Edit field" @click="efEditItem(props.rowIndex)"/>
					<vu:button :disabled="props.row.isDefault"
					           flat icon="fas fa-trash-alt" v-title="props.row.isDefault?'Field required by the system, cannot be deleted':'Delete'"
					           @click="efDeleteItem(props.rowIndex)" />
				</vu:slot>
				<vu:column field="fieldCode" label="Code" sortable="false">
				     <div :class="props.row.isMandatory?'v-block__required':''">{{props.row.fieldCode}}</div> <q-badge th:if="${!model.modeReadOnly}" v-if="props.row.isDefault" color="grey">Mandatory for the system</q-badge>
				</vu:column>
				<vu:column field="fieldTypeLabel" label="Type" sortable="false" />
				<vu:column field="label" sortable="false" label="Label" />
				<vu:column field="tooltip" label="Tooltip" sortable="false" />
				<vu:column name="fieldValidators" auto-width label="" sortable="false" th:with="modifiableTable='true', rowIndex='props.rowIndex'">
					<q-icon v-if="props.row.fieldValidators.length>0" size="sm" color="primary" name="fas fa-file-shield" aria-label="Contrôles appliqués">
					   <span class="sr-only">Des contrôles complémentaires sont appliqués sur ce champ</span>
					   <q-badge color="secondary" rounded>{{props.row.fieldValidators.length}}</q-badge> 
					   <q-tooltip>Des contrôles complémentaires sont appliqués sur ce champ:<br />
							<vu:select-multiple-read object="fields" field="fieldValidators" list="fieldValidators" valueField="code" labelField="label" input_dense class="column items-start" />
					   </q-tooltip>
				    </q-icon>
				</vu:column>
			</vu:table>
			
			<th:block id="modalEditItem" th:if="${!model.modeReadOnly}"
				th:attr="objectKey=${model.vContext['componentStates'].addComponentState('itemModal').addPrimitive('opened', false)}, objectKey=${model.vContext['componentStates']['itemModal'].addPrimitive('editIndex', null)} ">
				<vu:include-data object="fieldTypes" field="'*'" />
				<vu:include-data object="editFieldValidators" field="*" />
				<q-dialog th:v-model="componentStates.itemModal.opened" maximized position="right">
					<q-card class="bg-white" style="width: min(800px, 100vw);">
						<q-toolbar class="bg-primary">
							<vu:button flat dense v-close-popup icon="keyboard_arrow_left" text-color="white" title="Close"/>
							<q-toolbar-title vu:text="Fields" class="text-white"></q-toolbar-title>
						</q-toolbar>
						<q-card-section class="q-layout-padding">
							<vu:grid>
								<vu:select-edit object="editField" field="fieldType" label="Field type" list="fieldTypes" valueField="name" labelField="label"  :disable="componentStates.itemModal.editIndex != -1" 
								@update:model-value="efRefreshItem()" 
								searchable="true"/>
								
								<vu:text-field-edit object="editField" field="fieldCode" label="Field code"
								:hint="(componentStates.itemModal.editIndex == -1)?`Unique code in the form relating to the expected information (e.g. name, birthname, lastcheck date, etc.)`:``" 
								title="Information required by the system and cannot be modified"
				                aria-title="Technical and unique code of the field"
								:disable="componentStates.itemModal.editIndex != -1 || vueData.editField.fieldType==null" />
				                
				               <!--/*  <vu:grid-cell v-if="vueData.editField.fieldType === 'Taxonomie'">
									<vu:select-edit object="editField" field="listId" list="taxonomyTypes" valueField="motId" label="List of values" required="true" />
								</vu:grid-cell>
								 */-->
								<vu:grid-cell>
								    <vu:text-field-edit object="editField" field="label" label="Label"/>
								</vu:grid-cell>
								<vu:grid-cell>
									<vu:text-field-edit object="editField" field="tooltip" label="Tooltip" />
								</vu:grid-cell>
								<vu:grid-cell>
									<vu:include-data object="editField" field="isDefault" />
									<vu:include-data object="editField" field="isMandatory" modifiable="true" />
									<q-toggle class="q-field" :disable="vueData.editField.isDefault" v-model="vueData.editField.isMandatory"
										:title="vueData.editField.isDefault?'Information required by the system and cannot be modified':''"
										:aria-title="vueData.editField.isDefault?'Information required by the system and cannot be modified':''"
										label="Information mandatory"></q-toggle>
									<input type="hidden" name="vContext[editField][isMandatory]" v-bind:value="vueData.editField.isMandatory" />
								</vu:grid-cell>
								<vu:grid-cell>
									<vu:select-multiple-edit v-if="vueData.editFieldValidators.length>0" object="editField" field="fieldValidators" list="editFieldValidators"
										valueField="code" labelField="label" popup-content-class="popupDescriptionFieldValidators">
										<vu:slot name="edit_content_slot">
											<template v-slot:option="scope">
												<q-item v-bind="scope.itemProps"> <q-item-section> <q-item-label v-html="scope.opt.label"></q-item-label>
												<q-item-label caption>{{ vueData.editFieldValidators[scope.index].description}}</q-item-label> </q-item-section> </q-item>
											</template>
										</vu:slot>
									</vu:select-multiple-edit>
								</vu:grid-cell>
							</vu:grid>
						</q-card-section>
						<q-card-section class="flex justify-end">
							<q-btn @click="efSaveEditItem" color="primary" label="Save" rounded></q-btn>
						</q-card-section>
					</q-card>
				</q-dialog>
			</th:block>
				
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${model.modeEdit}" icon="save" label="Save" v-alert-unsaved-updates="'fields'" action="@{_save}" size="lg" color="primary" />
			</q-page-sticky>
		</section>
	</body>
</html>