<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta vuiSsr="false" vuiDevMode="false"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
    <link th:href="@{/static/3rdParty/poppins/css/poppins.css}" rel="stylesheet" type="text/css"/>
  	<link rel="stylesheet" th:href="@{/static/css/mars.css}"/>
  	<link rel="stylesheet" th:href="@{/static/theme/__${model.theme.name}__/css/theme.css}"/>
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
   	<script th:src="@{/static/js/mars.js}"></script>
   	<!-- 
	<script th:src="@{/static/chatbot/shepherd.min.js}"></script>
	<script th:src="@{/static/chatbot/chatbot.js}"></script>
   	<link  th:href="@{/static/chatbot/chatbot.css}" rel="stylesheet"/>
	<link  th:href="@{/static/chatbot/shepherd.css}" rel="stylesheet"/>
	 -->
</head>

<body class="mat desktop no-touch platform-mat">

	<vu:page vuiSsr="false"> 
      <q-layout view="hHh LpR fff" v-cloak>
			<!-- BEGIN HEADER-->
			<q-header>
				<q-toolbar>
					<div class="row items-center" :style="'width: ' + (componentStates.navDrawer.displayed && !componentStates.navDrawer.mini ? 288 : 45) + 'px;'">
						<q-btn flat round dense class="lt-lg"
						th:attr="mini=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('mini', false)},
						displayed=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('displayed', null)}"
						@click="$refs.menuDrawer.toggle()" icon="menu" aria-label="Toggle menu on left side"></q-btn>
						<img v-if="!componentStates.navDrawer.mini" th:src="@{/static/img/logo MMC white v0.1.png}" height="40" class="gt-md" alt="logo mmc"/>
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="col">
<!-- 						<v-commands class="gt-md" v-if="$q.platform.is.desktop" th:base-url="@{/}" ></v-commands>  -->
						<q-input th:attr="objectKey=${model.vContext['componentStates'].addComponentState('search').addPrimitive('criteria','')}"
								autofocus placeholder="Search" v-model="componentStates.search.criteria" outlined bg-color="white" dense style="transition: var(--q-transition-duration)" :style="componentStates.search.criteria.length > 0 ? 'max-width: 800px;' : 'max-width: 320px'"
								th:@keydown.enter="|componentStates.search.criteria.length > 0 ? goTo('@{/basemanagement/equipments/?criteria=}'+componentStates.search.criteria):''|" >
							<template v-slot:prepend><q-icon name="search" ></q-icon></template>
						</q-input>
					</div>
					<div>
						<!--<v-notifications th:base-url="@{/api/}" :type-icon-map="notificationTypes()" ></v-notifications>-->
						<q-btn flat icon-right="arrow_drop_down" class="on-left gt-md">
							<vu:include-data object="connectedUser" field="personId"/>
							<q-avatar><img th::src="|'@{/api/x/accounts/api/}'+vueData.connectedUser.personId+'/photo'|" alt="user avatar"/></q-avatar>
							<div class="on-right"><span vu:text="${model.vContext['connectedUser']['firstName']+' '+model.vContext['connectedUser']['lastName']}"></span><br/><small><span vu:text="${model.vContext['activeProfile']['role']}"></span> - <span vu:text="${model.vContext['activeProfile']['baseName']}"></span></small></div>
							<q-menu fit>
							  <q-list>
							  
							  	<q-item-label header dense class="text-center">Change current profil</q-item-label>
							  	<q-item dense th:each="item : ${model.availableProfiles}" >
							    	<q-btn type="a" flat th:label="|${item.role} - ${item.baseName}|" th:href="@{/userProfil/_changeProfile?profileId=__${item.missionId}__}" ></q-btn>
							    </q-item>
							    <q-separator></q-separator>
							  	<q-item>
							    	<q-item-section><q-btn icon="edit" type="a" flat label="Edit my data" th::href="|'@{/hr/person/}'+vueData.connectedUser.personId|"></q-btn></q-item-section>
							    </q-item>
							  	<q-separator></q-separator>
							    <q-item>
							    	<q-item-section><q-btn type="a" outline label="Disconnect" th:href="@{/login/_logout}" ></q-btn></q-item-section>
							    </q-item>
							  </q-list>
							 </q-menu>
						</q-btn>
                            
						<q-btn flat round dense icon="apps" size="lg" aria-label="Toggle apps">
							<q-menu>
								<div class="row q-col-gutter-sm q-pa-md" style="width: 300px;">
									<div class="col-6" >
										<q-btn type="a" href="https://klee-digital-factory.slack.com"  target="_blank" class="full-width" style="height:68px">
											<div class="column items-center col-12">
												<div class="col-12"><q-icon size="36px" name="fab fa-slack" ></q-icon></div>
												<div class="col-12">Slack</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" th:if="${authz.hasAuthorization('ViewAcademy')}">
										<q-btn type="a" href="https://kleeacademy.360learning.com/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_360Learning.png}" class="full-width" alt="logo 360 learning"/></div>
												<div class="col-12">Academy</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://trello.com/b/fKf74LSW/mars-maintenance" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><q-icon size="36px" name="fab fa-trello" color="blue" ></q-icon></div>
												<div class="col-12">Trello</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
									</div>
									<div class="col-6" >
										<q-btn type="a" th:href="${model.apiManagementUrl}" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_WSO2.png}" class="full-width" alt="logo WSO2"/></div>
												<div class="col-12">API</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://klee.opendatasoft.com/explore/dataset/dt-tests/information/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_ods.png}" class="full-width" alt="logo opendatasoft"/></div>
												<div class="col-12">OpenData</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://aframe.io/examples/showcase/a-blast/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_aframe.png}" height="36" alt="logo A-Frame"/></div>
												<div class="col-12">VR</div>
											</div>
										</q-btn>
									</div>
								</div>
							</q-menu>
						</q-btn>
					</div>
				</q-toolbar>
				<q-separator th::dark="${model.theme.menu.dark}"></q-separator>
			</q-header>
        	<!-- END HEADER-->
        			
  			
  			<q-drawer
  			  class="menu"
  			  th::dark="${model.theme.menu.dark}"
  			  th::elevated="${model.theme.menu.elevated}"
		      side="left"
		      ref="menuDrawer"
		      show-if-above
		      @vue:mounted="function() { componentStates.navDrawer.mini = (this.localStorage.miniMenu === 'true')}"
  			  @on-layout="state => componentStates.navDrawer.displayed=state"
		      :mini="componentStates.navDrawer.mini"
		    >
		      <q-scroll-area class="fit" th::dark="${model.theme.menu.dark}">
			    <nav class="text-no-wrap">
			      <q-list :class="{'dense-list-header':!componentStates.navDrawer.mini}" style="height:100%">
			        <q-item tag="a" th:href="@{/home/}" th:class="${model.requestURI.equals('__@{/home/}__') ? 'active':''}">
			          <q-item-section avatar>
			          	<q-icon name="o_home" title="Home" size="md"></q-icon>
			          </q-item-section>
			          <q-item-section>Home</q-item-section>
			        </q-item>
			        
			        <q-separator th::dark="${model.theme.menu.dark}"></q-separator>
			        
			       	<div>
			       	    <q-item-label header>Base managment</q-item-label>
			       	    
				        <q-item th:if="${authz.hasAuthorization('ViewBases')}" tag="a" th:href="@{/basemanagement/bases/}" th:class="${model.requestURI.startsWith('__@{/basemanagement/base}__') ? 'active':''}" >
				          <q-item-section avatar>
				          	<q-icon name="o_location_on" title="Bases" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>Bases</q-item-section>
				        </q-item>
				        <q-item tag="a" th:href="@{/basemanagement/equipments/}" th:class="${model.requestURI.startsWith('__@{/basemanagement/equipment}__') ? 'active':''}" >
				          <q-item-section avatar>
				          	<q-icon name="mdi-cube-outline" title="Equipments" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>Equipments</q-item-section>
				        </q-item>
				    </div>
				    
				    <q-separator th::dark="${model.theme.menu.dark}" th:if="${authz.hasAuthorization('AdmUsers','ViewAcademy')}"></q-separator>
				    
			       	<div>
			       	    <q-item-label header>AI center<span class="q-pl-md" style="font-size: 14px; color: red;">NEW</span></q-item-label>
			       	    
				        <q-item tag="a" th:href="@{/ai/extract/}" th:class="${model.requestURI.startsWith('__@{/ai/extract}__') ? 'active':''}" >
				          <q-item-section avatar>
				          	<q-icon name="mdi-brain" title="AI" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>File analysis</q-item-section>
				        </q-item>
                        <q-item tag="a" th:href="@{/ai/energy/}" th:class="${model.requestURI.startsWith('__@{/ai/energy}__') ? 'active':''}" >
                          <q-item-section avatar>
                          	<q-icon name="mdi-flash" title="Energy" size="md"></q-icon>
                          </q-item-section>
                          <q-item-section>Energy</q-item-section>
                        </q-item>
                        <q-item tag="a" th:href="@{/ai/transport/}" th:class="${model.requestURI.startsWith('__@{/ai/transport}__') ? 'active':''}" >
                          <q-item-section avatar>
                          	<q-icon name="mdi-train-car" title="Transport" size="md"></q-icon>
                          </q-item-section>
                          <q-item-section>Transport</q-item-section>
                        </q-item>
				        <q-item tag="a" th:href="@{/ai/health/}" th:class="${model.requestURI.startsWith('__@{/ai/health}__') ? 'active':''}" >
                          <q-item-section avatar>
                          	<q-icon name="mdi-heart-pulse" title="Health" size="md"></q-icon>
                          </q-item-section>
                          <q-item-section>Health</q-item-section>
                        </q-item>
                        <q-item tag="a" th:href="@{/ai/documents/}" th:class="${model.requestURI.startsWith('__@{/ai/documents}__') ? 'active':''}" >
                          <q-item-section avatar>
                          	<q-icon name="mdi-file-document" title="Documents" size="md"></q-icon>
                          </q-item-section>
                          <q-item-section>Documents</q-item-section>
                        </q-item>
				    </div>
				    
				    <q-separator th::dark="${model.theme.menu.dark}" th:if="${authz.hasAuthorization('AdmUsers','ViewAcademy')}"></q-separator>
				    
			       	<div th:if="${authz.hasAuthorization('AdmUsers','ViewAcademy')}">
			       	 	<q-item-label header>Users</q-item-label>
			       	 	
				        <q-item th:if="${authz.hasAuthorization('AdmUsers')}" tag="a" th:href="@{/hr/persons/}" th:class="${model.requestURI.startsWith('__@{/hr/person}__') ? 'active':''}">
				          <q-item-section avatar>
				          	<q-icon name="o_person" title="Accounts" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>
				           <q-item-label>Accounts</q-item-label>
				          </q-item-section>
				        </q-item>
				        <q-item th:if="${authz.hasAuthorization('AdmUsers')}" tag="a" th:href="@{/hr/persons/}">
				          <q-item-section avatar>
				          	<q-icon name="o_group" title="Teams" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>
				           <q-item-label>Teams</q-item-label>
				          </q-item-section>
				        </q-item>
				        <q-item th:if="${authz.hasAuthorization('ViewAcademy')}" tag="a" th:href="@{/academy/}" th:class="${model.requestURI.startsWith('__@{/academy/}__') ? 'active':''}">
				          <q-item-section avatar>
				          	<q-icon name="fas fa-graduation-cap"></q-icon>
				          </q-item-section>
				          <q-item-section>Academy</q-item-section>
				        </q-item>
				    </div>
				    
				    <q-separator th::dark="${model.theme.menu.dark}"></q-separator>
				    
			        <div>
			            <q-item-label header>Catalog</q-item-label>
			            
				        <q-item tag="a" th:href="@{/catalog/suppliers/}" th:class="${model.requestURI.startsWith('__@{/catalog/supplier}__') ? 'active':''}">
				         <q-item-section avatar>
				          	<q-icon name="mdi-office-building-outline" title="Suppliers" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>Suppliers</q-item-section>
				        </q-item>
				        <q-item th:if="${authz.hasAuthorization('AdmMasterData')}" tag="a" th:href="@{/catalog/masterdata/equipmentCategoryList/}" th:class="${model.requestURI.startsWith('__@{/catalog/masterdata/}__') ? 'active':''}">
				          <q-item-section avatar>
				          	<q-icon name="mdi-database-cog-outline" title="Master data" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>Master data</q-item-section>
				        </q-item>
				    </div>
				    
				    <q-separator th::dark="${model.theme.menu.dark}"></q-separator>
				    
			       	<div>
			       	    <q-item-label header>Missions</q-item-label>
			       	    
				        <q-item tag="a" th:href="@{/maintenance/dashboard/}" th:class="${model.requestURI.startsWith('__@{/maintenance/}__') ? 'active':''}">
				         <q-item-section avatar>
				          	<q-icon name="o_build" title="Maintenance" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>
				          	<q-item-label>Maintenance</q-item-label>
				          	<q-item-label caption>Tickets, Work Orders</q-item-label>
				          </q-item-section>
				        </q-item>
				        <q-item tag="a" th:href="@{/jobs/}" th:class="${model.requestURI.startsWith('__@{/jobs/}__') ? 'active':''}">
				          <q-item-section avatar>
				          	<q-icon name="o_task" title="Jobs" size="md"></q-icon>
				          </q-item-section>
				          <q-item-section>Jobs</q-item-section>
				        </q-item>
				    </div>
				    <!-- 
				    <q-separator th::dark="${model.theme.menu.dark}"></q-separator>
				    <component :is="componentStates.navDrawer.mini ? 'div' : 'q-expansion-item'"  label="Data Hub" default-opened >
				        <q-item tag="a" th:href="@{/share/}">
				          <q-item-section avatar>
				          	<q-icon name="fas fa-share-alt" title="Share"></q-icon>
				          </q-item-section>
				          <q-item-section>Share</q-item-section>
				        </q-item>
				        <q-item tag="a" th:href="@{/environment/}">
				          <q-item-section avatar>
				          	<q-icon name="fas fa-cloud-sun" title="Environment"></q-icon>
				          </q-item-section>
				          <q-item-section>Environment</q-item-section>
				        </q-item>
				        <q-item tag="a" th:href="@{/dashboard/modules/vertigo-ui}" target="_blank">
				          <q-item-section avatar>
				          	<q-icon name="fas fa-chart-bar"></q-icon>
				          </q-item-section>
				          <q-item-section>Analytics</q-item-section>
				        </q-item>
				    </component>
				     -->
				     
				    <q-separator th::dark="${model.theme.menu.dark}"></q-separator>
				    
		       	    <q-item-label header>Marketplace</q-item-label>
		       	    
		       	    <!-- 
			        <q-item tag="a" th:href="@{/digitaltrust/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-award" title="Digital Trust"></q-icon>
			          </q-item-section>
			          <q-item-section>Digital Trust</q-item-section>
			          <q-item-section side><q-chip color="primary" text-color="white" dense square class="q-mr-xs">Blockchain</q-chip></q-item-section>
			        </q-item>
			         -->
				    
			        <q-item tag="a" th:href="@{/extensionsStore/}" th:class="${model.requestURI.startsWith('__@{/extensionsStore/}__') ? 'active':''}">
			          <q-item-section avatar>
			          	<q-icon name="mdi-puzzle-outline" title="Extensions Store" size="md"></q-icon>
			          </q-item-section>
			          <q-item-section>Extensions Store</q-item-section>
			        </q-item>
			        
			        <!-- Youtube integration
			        <q-separator th::dark="${model.theme.menu.dark}"></q-separator>
			        <q-item tag="a" th:href="@{/spiders/}">
			          <q-item-section avatar>
			          	<q-icon name="fas fa-spider" title="Spiders"></q-icon>
			          </q-item-section>
			          <q-item-section>Spiders</q-item-section>
			        </q-item>
			        -->
			        <q-item v-if="componentStates.navDrawer.mini" clickable
							@click="componentStates.navDrawer.mini = false; $event.view.window.localStorage.miniMenu = 'false'" title="Expand menu">
							<q-item-section avatar>
			          			<q-icon name="keyboard_double_arrow_right"></q-icon>
			          		</q-item-section>
					</q-item>
					 <q-item v-if="!componentStates.navDrawer.mini" clickable
							@click="componentStates.navDrawer.mini = true; $event.view.window.localStorage.miniMenu = 'true'" title="Minify menu">
						<q-item-section side>
			          		<q-icon name="keyboard_double_arrow_left"></q-icon>
			          	</q-item-section>
					</q-item>
			        </q-list>
			    </nav>
			  </q-scroll-area>
		    </q-drawer>
		    
			<q-page-container class="row justify-center q-pb-lg" >
				<section class="col container-bottom-padding" layout:fragment="page-container"></section>
			</q-page-container>
			
			<q-page-scroller position="top-right" :scroll-offset="50" :offset="[18, 48]">
				<q-btn fab icon="keyboard_arrow_up" color="secondary" ></q-btn>
			</q-page-scroller>
			
			<q-page-sticky position="bottom-left" :offset="[8,4]" class="poweredBy">
				<a href="https://github.com/vertigo-io/" target="_blank">
					<div>Powered by</div>
				    <img th:src="@{/static/img/logo_vertigo.png}" />
				</a>
			</q-page-sticky>
			<div class="fixed-bottom-right version-watermark">
    			<div class="row items-center">
					v1.1.0
				</div>
  			</div>
  			
  			<!-- 
  			<div v-if="$q.platform.is.desktop" v-shortkey.once="['alt', 'q']" @shortkey="$refs.quicknav.show()">
  				<q-dialog ref="quicknav" >
  					<q-card style="width: 66%; max-width: 66%; height:50%;">
  						<q-card-section>
		  					<v-handles th:base-url="@{/}"></v-handles>
						</q-card-section>
					</q-card>
  				</q-dialog>
  			</div>
  			 -->
		</q-layout>
		
	</vu:page>
	<div layout:fragment="javascript-footer">
	</div>
			
</body>
</html>