<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Master data - Equipment category</title>
		<script th:src="@{/vertigo-ui/static/easyforms/js/vertigo-easyforms.js}" th:data-context="@{/}"></script>
	</head>
	
	<body>
	
		<section layout:fragment="content-nav">
	        <q-item tag="a" href="#information">Information</q-item>
	        <q-item th:if="${!model.modeCreate}" tag="a" href="#surveyFields">Survey fields</q-item>	
		</section>
		
		<section>
			<div layout:fragment="content-header-left">
				<div class="detailType">
					<q-icon name="fas fa-rocket" class="detailTypeIcon q-mx-md gt-md"></q-icon>
				</div>
			</div>
			<div layout:fragment="content-header-title">
				<span class="text-bigger" vu:text="${model.category.label}"></span> 
			</div>
			<div layout:fragment="content-header-actions">
				<vu:button-link th:if="${model.modeEdit}" url="@{/catalog/masterdata/equipmentCategory/} + ${model.category.equipmentCategoryId}"
								:round size="lg" color="secondary-inverted" icon="fas fa-ban" :flat title="Cancel" class="on-left" 
								v-alert-unsaved-updates="'efo'" />					
				<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" round flat size="lg" color="secondary-inverted" icon="far fa-pen-to-square" title="Edit" class="on-left"/>
			</div>
		</section>
		
		<section layout:fragment="content" >
			<vu:block id="information" title="Information">
				<vu:text-field object="category" field="label" label="Label"/>
				<vu:checkbox object="category" field="active" label="Active"/>
			</vu:block>
			
			<vu:block id="surveyFields" title="Survey fields" content_th:classappend="q-col-gutter-md">
				<div class="col-12" v-if-unsaved-updates>
					<div th:if="${viewMode == 'edit'}" class="q-card bg-info text-white col">
						<div class="q-card-main q-pa-md">
							<div class="q-item-label" vu:text="#{EfDesignerPendingChanges}"></div>
						</div>
					</div>
				</div>
				
				<vu:easy-forms-admin />
			</vu:block>
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${model.modeEdit}" icon="save" label="Save" v-alert-unsaved-updates="'efo'" action="@{_save}" size="lg" color="primary" />
			</q-page-sticky>
		</section>
	</body>
</html>