<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.19.3/dist/apexcharts.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts@1.6.0/dist/vue-apexcharts.min.js"></script>
	<script>
		Vue.use(VueApexCharts);
		Vue.component('apexchart', VueApexCharts);
		VUiExtensions.dataX.compare = false;
		VUiExtensions.dataX.axes = [{name :"taux_moyen_pond", label: "Taux moyen"}]
		VUiExtensions.dataX.series =  {
				"taux_moyen_pond" : {
					title : "Taux moy Ensemble",
					data : [1.225511343, 0.877668057, 1.182812906, 1.014544147, 1.237969091, 1.221400317, 1.499328614, 1.204218696, 1.061380511, 1.435074011, 0.890207869, 1.176837546, 0.879943125]
				},
				"taux_moyen_pond_isg" :  {
					title : "Taux moy ISG",
					data : [1.200359434, 1.280592803, 0.957700179, 1.216972281, 1.202729433, 1.205698694, 1.328754542, 1.280377901, 1.40819087 , 1.43669728 , 1.458572075, 0.971704101, 0.900547512 ]
				}
		}
		VUiExtensions.dataX.selectedSeries = [];
		VUiExtensions.methods.getApexOptions = function(selectedSeries) {
			return { 
				chart : {
					
				},
				xaxis:{
					  categories: ["04/2019", "05/2019", "06/2019", "07/2019", "08/2019", "09/2019", "10/2019", "11/2019", "12/2019", "01/2020", "02/2020", "03/2020", "04/2020"]
				}
			}
		}
		VUiExtensions.methods.getApexSeries = function(selectedSeries) {
			let seriesToDisplay = selectedSeries.flatMap(function (serieName) {
				return VUiExtensions.dataX.compare ? [serieName, serieName + "_isg"] : [serieName]
			});
			return seriesToDisplay.map(function(serieName) {
				return {
					data : VUiExtensions.dataX.series[serieName].data,
					name : VUiExtensions.dataX.series[serieName].title
				}
			});
		}
	</script>
</head>

<body class="mat desktop no-touch platform-mat">

	<vu:page>
      <q-layout view="hHh LpR fff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-header elevated>
				<q-toolbar>
					<div class="row items-center">
						<img th:src="@{/static/img/logo MMC white v0.1.png}" height="40px" class="gt-md" alt="logo mmc"/>
						<q-toolbar-title class="gt-md">
								<div>Command Center</div>
								<div class="text-subtitle2">Observe, Orient, Decide and Act</div>
						</q-toolbar-title>
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="col q-mx-xl">
						<!--  <v-commands class="gt-md" v-if="$q.platform.is.desktop" th:base-url="@{/}" ></v-commands> --> 
					</div>
					<div>
						<q-btn flat icon-right="arrow_drop_down" class="on-left gt-md">
							<vu:include-data object="connectedUser" field="personId"/>
							<q-avatar><img th::src="|'@{/api/x/accounts/api/}'+vueData.connectedUser.personId+'/photo'|" alt="user avatar"/></q-avatar>
							<div class="on-right"><span vu:text="${model.vContext['connectedUser']['firstName']+' '+model.vContext['connectedUser']['lastName']}"></span><br/><small><span vu:text="${model.vContext['activeProfile']}"></span></small></div>
							<q-menu fit>
							  <q-list>
							  	<q-item-label header dense>Change current profil</q-item-label>
							  	<q-item dense>
							    	<q-btn type="a" flat label="Viewer" th:href="@{/userProfil/_changeProfile?profile=Viewer}" />
							    </q-item>
							    <q-item dense>
							    	<q-btn type="a" flat label="Editor" th:href="@{/userProfil/_changeProfile?profile=Editor}" />
							    </q-item>
							    <q-item dense>
							    	<q-btn type="a" flat label="Administrator" th:href="@{/userProfil/_changeProfile?profile=Administrator}" />
							    </q-item>
							    <q-separator></q-separator>
							  	<q-item>
							    	<q-item-section><q-btn icon="edit" type="a" flat label="Edit my data" th::href="|'@{/hr/person/}'+vueData.connectedUser.personId|"/></q-item-section>
							    </q-item>
							  	<q-separator></q-separator>
							    <q-item>
							    	<q-item-section><q-btn type="a" outline label="Disconnect" th:href="@{/login/_logout}" /></q-item-section>
							    </q-item>
							  </q-list>
							 </q-menu>
						</q-btn>
						<q-btn flat round dense icon="apps" size="lg" aria-label="Toggle apps">
							<q-menu>
								<div class="row q-col-gutter-sm q-pa-md" style="width: 300px;">
									<div class="col-6" >
										<q-btn type="a" href="https://klee-digital-factory.slack.com"  target="_blank" class="full-width" style="height:68px">
											<div class="column items-center col-12">
												<div class="col-12"><q-icon size="36px"name="fab fa-slack" ></q-icon></div>
												<div class="col-12">Slack</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://kleeacademy.360learning.com/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_360Learning.png}" width="100%" alt="logo 360 learning"></img></div>
												<div class="col-12">Academy</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://trello.com/b/fKf74LSW/mars-maintenance" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><q-icon size="36px"name="fab fa-trello" color="blue" ></q-icon></div>
												<div class="col-12">Trello</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
									</div>
									<div class="col-6" >
										<q-btn type="a" th:href="${model.apiManagementUrl}" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_WSO2.png}" width="100%" alt="logo WSO2"></img></div>
												<div class="col-12">API</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://klee.opendatasoft.com/explore/dataset/dt-tests/information/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_ods.png}" width="100%" alt="logo opendatasoft"></img></div>
												<div class="col-12">OpenData</div>
											</div>
										</q-btn>
									</div>
									<div class="col-6" >
										<q-btn type="a" href="https://aframe.io/examples/showcase/a-blast/" target="_blank" class="full-width" style="height:68px">
											<div class="column items-center">
												<div class="col-12"><img th:src="@{/static/img/logo_aframe.png}" height="36px" alt="logo A-Frame"></img></div>
												<div class="col-12">VR</div>
											</div>
										</q-btn>
									</div>
								</div>
							</q-menu>
						</q-btn>
					</div>
				</q-toolbar>
			</q-header>
        	<!-- END HEADER-->
        			
  			
		    
			<q-page-container class="row justify-center q-pb-lg" >
				<div class="row col container-bottom-padding" >
					<div class="col-3">
						<q-btn v-for="axe in dataX.axes" :label ="axe.label" @click="dataX.selectedSeries = [axe.name]" ></q-btn>
						<q-checkbox v-model="dataX.compare" label="Me comparer" ></q-checkbox>
					</div>
					<div class="col-9">
						<apexchart width="100%" height="250" type="line"
								:options="getApexOptions(dataX.selectedSeries)"
								:series="getApexSeries(dataX.selectedSeries)"></apexchart>
					</div>	
				</div>
			</q-page-container>
			
			
			<q-page-sticky position="bottom-left" :offset="[18,0]" class="poweredBy">
				<div>Powered by</div>
			    <img th:src="@{/static/img/logo-digital-factory-P3-petit.png}"  /> 
			</q-page-sticky>
			<div class="fixed-bottom-right version-watermark">
    			<div class="row items-center">
					<img th:src="@{/static/img/logo MMC grey v0.1.png}" height="30px" class="on-left" alt="logo MMC"/> v1.0.0 &copy; 2153 Mars Mining Corp.
				</div>
  			</div>
  			
  			<th:block th:if="${model.modeReadOnly}" th:with="botDrawer=${model.vContext['componentStates'].addComponentState('botDrawer').addPrimitive('open', false)}" >
  				<q-page-sticky position="bottom-right" :offset="[-16,36]" class="poweredBy">
				</q-page-sticky>
  			</th:block>
		</q-layout>
		
	</vu:page>
	<div layout:fragment="javascript-footer">
	</div>
			
</body>
</html>