<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Extensions Store</title>
	</head>
	
	<body>
		<section layout:fragment="page-container">
		 	<q-page class="q-layout-padding">
		 		<div class="row col-12" >	
		 			<!-- TODO -->
		 		</div>
				<div class="row col-12 " >			 	
			 		<vu:include-data-primitive key="skills" />
			 		<v-extensions-store :active-skills="vueData.skills" ></v-extensions-store>
		 		</div>
			</q-page>		
		</section>
	</body>
</html>