<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
    xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Home</title>
		
		<!-- maps -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@8.2.0/ol.min.css" type="text/css"/>
		<script src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js"></script>
	</head>
	<body>
		<section layout:fragment="page-container">
		<q-page padding class="row col-12 q-col-gutter-md col justify-center">
			<vu:include-data object="basesSummary" field="'*'" />
			<div class="col-lg-3 col-md-6 col-12">
				<vu:block title="Bases" header_th:classappend="text-center" content_th:classappend="'row justify-center items-center'" card_style="height: 150px;" loading="!vueData.basesSummary.isLoaded" loading_height="100px">
					<span class="text-secondary indicator">{{ vueData.basesSummary.baseCount }}</span> 
				</vu:block>
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<vu:block title="Global Health Level" header_th:classappend="text-center" content_th:class="'q-card__section row justify-center overflow-hidden'" card_style="height: 150px;" loading="!vueData.basesSummary.isLoaded" loading_height="100px">
					<q-rating readonly :model-value="vueData.basesSummary.baseMeanHealth / 100 * 5 + 1" size="xl" icon="favorite" color="red" class="q-mt-lg"></q-rating>
				</vu:block>
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<vu:block title="Equipments online" header_th:classappend="text-center" content_th:classappend="'column items-center'" card_style="height: 150px;" loading="!vueData.basesSummary.isLoaded" loading_height="100px">
					<div class="text-secondary indicator">{{ vueData.basesSummary.onlineEquipmentPercent }}</div>
				</vu:block>
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<vu:block title="Opened Tickets" header_th:classappend="text-center" content_th:classappend="'column items-center'" card_style="height: 150px;" loading="!vueData.basesSummary.isLoaded" loading_height="100px">
					<div class="text-secondary indicator">{{ vueData.basesSummary.openedTickets }}</div>
				</vu:block>
			</div>
			<div class="col-12" >
				<vu:include-data object="bases" field="geoLocation" />
				<vu:include-data object="bases" field="name" />
				<v-map tabindex="1" style="width:100%; height: 600px;" id="map" overview>
					<v-map-layer marker-color="#027BE3" :list="vueData.bases" field="geoLocation" name-field="name" th:base-url="@{/api/bases/}"></v-map-layer>
				</v-map>
			</div>
			<div class="col-lg-5 col-12">
				<vu:block title="Supplies" content_th:classappend="q-gutter-sm">
					<div class="row">
						<span class="col-1 text-blue-8 justify-between"><q-icon name="fas fa-tint" color="blue-8"></q-icon> 75%</span>
						<q-linear-progress class="col" :value="0.75" stripe color="blue-8" style="height: 20px"></q-linear-progress> 
					</div>
					<div class="row">
						<span class="col-1 text-amber-9"><q-icon name="fas fa-bolt" color="amber-9"></q-icon> 98%</span>
						<q-linear-progress class="col" :value="0.98" stripe  color="amber-9" style="height: 20px"></q-linear-progress>
					</div>
					<div class="row">
						<span class="col-1 text-blue-grey-7"><q-icon name="fas fa-cloud" color="blue-grey-7"></q-icon> 20%</span>
						<q-linear-progress class="col" :value="0.20" stripe  color="blue-grey-7" style="height: 20px"></q-linear-progress>
					</div>
				</vu:block>
			</div>
			<div class="col-lg-7 col-12">
				<vu:table list="lastWorkOrders" title="Lastest WorkOrder" componentId="lastWorkOrders" rowsPerPage="3">
					<vu:column field="name" />
					<vu:column field="dateCreated" label="Creation Date" />
					<vu:column field="dateClosed" label="Closing Date" />
					<vu:column name="status" label="Status" >
						<vu:field-read field="workOrderStatusId" list="workOrderStatus" listKey="workOrderStatusId" listDisplay="label" />
					</vu:column>
				</vu:table>
			</div>
		</q-page>
		</section>
		<section layout:fragment="javascript-footer" >
			<script type="text/javascript">
				Quasar.dom.ready(() => {
					VUiPage.httpPostAjax('_summary');
					
					VUiPage.componentStates.lastWorkOrders.loading = true;
					VUiPage.httpPostAjax('_workOrder', null,
							{ onSuccess: (response) => {
								VUiPage.componentStates.lastWorkOrders.loading = false;
							}});
				})
			</script>
		</section>
	</body>
</html>