<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcParentLayout}"
>
	<head>
		<title>Maintenance Planning</title>
        <!-- qcalendar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qcalendar@3.4.1/dist/index.min.css" type="text/css"/>
        <script type="text/javascript">
            VUiExtensions.methods.calendarNext = function() {
            	this.$refs.calendar.next()
            };
            VUiExtensions.methods.calendarPrev  = function() {
            	this.$refs.calendar.prev()
            };
            var PARSE_REGEX = /^(\d{1,2})\/(\d{1,2})\/(\d{4})?([^\d]+(\d{1,2}))?(:(\d{1,2}))?(:(\d{1,2}))?(.(\d{1,3}))?$/;
            VUiExtensions.methods.toCalendarDate  = function(vDate) {
            	 // DD/MM/YYYY hh:mm
                var parts = PARSE_REGEX.exec(vDate);
                if (!parts) { return null }

                return {
                  date: parts[3]+'-'+parts[2]+'-'+parts[1],
                  time: parts[5] + ':' +  parts[7],
                  year: parseInt(parts[3], 10),
                  month: parseInt(parts[2], 10),
                  day: parseInt(parts[1], 10) || 1,
                  hour: parseInt(parts[5], 10) || 0,
                  minute: parseInt(parts[7], 10) || 0,
                  weekday: 0,
                  doy: 0,
                  workweek: 0,
                  hasDay: true,
                  hasTime: !!(parts[5] && parts[7]),
                  past: false,
                  current: false,
                  future: false,
                  disabled: false
                }
            };
 
                
            VUiExtensions.methods.isCssColor  = function(color) {
                return !!color && !!color.match(/^(#|(rgb|hsl)a?\()/)
              };

              VUiExtensions.methods.badgeClasses  = function(event, type) {
                const cssColor = this.isCssColor(event.bgcolor)
                const isHeader = type === 'header'
                return {
                  [`text-white bg-${event.bgcolor}`]: !cssColor,
                  'full-width': !isHeader && (!event.side || event.side === 'full'),
                  'left-side': !isHeader && event.side === 'left',
                  'right-side': !isHeader && event.side === 'right'
                }
              };

              VUiExtensions.methods.badgeStyles  = function(event, type, timeStartPos, timeDurationHeight) {
                const s = {}
                if (this.isCssColor(event.bgcolor)) {
                  s['background-color'] = event.bgcolor
                  s.color = luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
                }
                if (timeStartPos) {
                  s.top = timeStartPos(event.eventCalendar.time) + 'px'
                }
                if (timeDurationHeight) {
                  s.height = (timeDurationHeight(event.durationMinutes)-2) + 'px'
                }
                s['align-items'] = 'flex-start'
                return s
              };
              
            VUiExtensions.methods.getEvents  = function(dt, allEvents) {
                const currentDate = QCalendar.parsed(dt)
                const selectedEvents = []
                for (let i = 0; i < allEvents.length; ++i) {
                  let added = false
                  allEvents[i].bgcolor = "cyan"; /* use status + person*/
                  var eventCalendar = this.toCalendarDate(allEvents[i].dateTime);
                  allEvents[i].eventCalendar = eventCalendar;
                  if (eventCalendar.date === dt) {
                    if (eventCalendar.time) {
                      if (selectedEvents.length > 0) {
                        // check for overlapping times
                        const startTime = QCalendar.parsed(eventCalendar.date + ' ' + allEvents[i].eventCalendar.time)
                        const endTime = QCalendar.addToDate(startTime, { minute: allEvents[i].durationMinutes })
                        for (let j = 0; j < selectedEvents.length; ++j) {
                          if (selectedEvents[j].eventCalendar.time) {
                            const startTime2 = QCalendar.parsed(selectedEvents[j].eventCalendar.date + ' ' + selectedEvents[j].eventCalendar.time)
                            const endTime2 = QCalendar.addToDate(startTime2, { minute: selectedEvents[j].durationMinutes })
                            if (QCalendar.isBetweenDates(startTime, startTime2, endTime2) || QCalendar.isBetweenDates(endTime, startTime2, endTime2)) {
                            	selectedEvents[j].side = 'left'
                                allEvents[i].side = 'right'
                            	  selectedEvents.push(allEvents[i])
                              added = true
                              break
                            }
                          }
                        }
                      }
                    }
                    if (!added) {
                      allEvents[i].side = undefined
                      selectedEvents.push(allEvents[i])
                    }
                  }
                  else if (eventCalendar.days) {
                    // check for overlapping dates
                    const startDate = QCalendar.parsed(eventCalendar.date)
                    const endDate = QCalendar.addToDate(startDate, { day: eventCalendar.days })
                    if (QCalendar.isBetweenDates(currentDate, startDate, endDate)) {
                    	selectedEvents.push(allEvents[i])
                      added = true
                    }
                  }
                }
                return selectedEvents
              };

        </script>
	</head>
	
	<body>
	
		<section>
			<div layout:fragment="content-header-title">
				
			</div>
			<div layout:fragment="content-header-actions">
			</div>
		</section>
		
		<section layout:fragment="page-container">
	 	<q-page padding class="row col-12 q-gutter-md">
				<div class="col content-body ">
                <div class="row q-col-gutter-md">
                    <div class="col-12">
                           <h6>TEST Calendar</h6>
                            <div class="row justify-center items-center">
                              <q-btn flat dense label="Prev" @click="calendarPrev"></q-btn>
                              |
                              <q-btn flat dense label="Next" @click="calendarNext"></q-btn>
                            </div>
		                   <vu:include-data-primitive key="todayDate" />
		                   <vu:include-data object="events" field="eventId" />
                           <vu:include-data object="events" field="dateTime" />
                           <vu:include-data object="events" field="durationMinutes" />
                           <vu:include-data object="events" field="affectedUrl" />
                           <vu:include-data object="events" field="affectedLabel" />
                           <q-calendar ref="calendar" 
		                   locale="fr"
		                   hour24-format
                           interval-minutes="30"
		                   interval-start="15"
		                   interval-count="22"
                           interval-height="20"
		                   view="5day"
		                   animated
						   transition-prev="slide-right"
						   transition-next="slide-left"
		                   :value="vueData.todayDate">
		                   
		                   <template #day-body="{ timestamp, timeStartPos, timeDurationHeight }">
					        <template v-for="(event, index) in getEvents(timestamp.date, vueData.events)">
					          <q-badge
					            :key="index"
					            class="my-event justify-center"
					            :class="badgeClasses(event, 'body')"
					            :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
					          > free
					            <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
					          </q-badge>
					        </template>
					      </template>
		                   
		                   </q-calendar>
                    </div>
                  </div>	 			
	 			</div>
		</q-page>
	</section>
	
	      <section layout:fragment="javascript-footer" >
        <script src="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qcalendar@3.4.1/dist/index.umd.js"></script>
        </section>
	
	</body>
</html>