<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/mmcListLayout}">
<head>
	<title>Referential - Equipment categories</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row q-mb-md text-primary">
			<div class="m-title text-h6 self-center">{{vueData.categories.length}} Equipment categories</div>
		</div>
		<vu:table list="categories" color="primary" componentId="categoriesTable" sortUrl="@{/catalog/referential/equipmentCategoryList/_sort}"
			th:tr_@click.native="|goTo('@{/catalog/referential/equipmentCategory/}'+props.row.equipmentCategoryId)|" tr_class="nav">
			<vu:include-data object="categories" field="equipmentCategoryId" />
			<vu:column field="label" sortable="true" label="Label"/>
			<vu:column field="active" sortable="true" label="Active" />
		</vu:table>
	</section>
</body>
</html>