<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/mmcDetailNavLayout}">
<head>
<title>Equipment Information</title>
	<!-- maps -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@8.2.0/ol.min.css" type="text/css"/>
	<script src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js"></script>
</head>
<body>
	<section layout:fragment="content-nav">
		<q-item tag="a" href="#health">Health Condition</q-item>
		<q-item tag="a" href="#general">General Information</q-item>
		<q-item tag="a" href="#location">Location</q-item>
		<q-item tag="a" href="#financial">Financial value</q-item>
	</section>
	<section>
		<div layout:fragment="content-header-left" id="equipmentIcon">
			<div class="detailType">
				<q-icon th:name="${model.containsKey('business') ? model.business.icon : 'fas fa-rocket'}" class="detailTypeIcon q-mx-md gt-md"></q-icon>
			</div>
		</div>
		<div layout:fragment="content-header-title" id="equipmentTitle">
			<span class="text-bigger" vu:text="${model.equipment.name?:'New Equipment'}"></span> <br />
			<span class="text-small gt-lg" vu:text="${model.equipment.code}"></span>
		</div>
		<div th:if="${!model.modeCreate}" layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" icon="fas fa-ban" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}" title="Cancel"
				class="text-secondary-inverted on-left" flat round size="lg" />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" flat size="lg" color="secondary-inverted" icon="far fa-pen-to-square" title="Edit" class="on-left" />
			<v-comments th:base-url="@{/api/}" concept="Equipment" flat icon="o_comment" icon-none="o_add_comment" text-color="secondary-inverted" th:id="${model.equipment.equipmentId}" :connected-account="vueData.connectedUser.personId"></v-comments>
		</div>
		<div th:if="${!model.modeCreate}" layout:fragment="content-header-tabs">
			<vu:button-link class="active" flat label="Information" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}" />
			<vu:button-link th:if="${authz.hasOperation(model.equipment,'readTickets')}" flat label="Maintenance" url="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="Environment" url="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="VR View" url="@{/basemanagement/equipment/vr/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="Spare Parts" url="@{/basemanagement/equipment/spare/} + ${model.equipment.equipmentId}" />
			<vu:button-link flat label="Survey" url="@{/basemanagement/equipment/__${model.equipment.equipmentId}__/surveys/}"/>
		</div>
	</section>
	<section layout:fragment="content">
		<th:block th:if="${!model.modeCreate}">
			<div id="health" class="col-xl-4 col-md-12 col-xs-12" >
				<vu:block title="Health" header_th:classappend="text-center" content_th:classappend="'row justify-center'" card_style="height: 150px;">
					<q-knob th::value="${model.equipment.healthLevel}" :min="0" :max="100" color="positive" track-color="grey-2" :readonly="true" show-value size="65px" :thickness="0.2"></q-knob>
				</vu:block>
			</div>
			<div class="col-xl-4 col-md-6 col-xs-12" th:if="${!model.modeCreate}">
				<vu:block title="Open tickets" header_th:classappend="text-center" content_th:classappend="'row justify-center'" card_style="height: 150px;">
					<span class="indicator" vu:text="${model.equipmentMaintenanceOverview.openedTickets}" />
				</vu:block>
			</div>
			<div class="col-xl-4 col-md-6 col-xs-12" th:if="${!model.modeCreate}">
				<vu:block title="Work orders in progress" header_th:classappend="text-center" content_th:classappend="'row justify-center'" card_style="height: 150px;">
					<span class="indicator" vu:text="${model.equipmentMaintenanceOverview.workOrdersInprogress}" />
				</vu:block>
			</div>
		</th:block>
		<vu:block id="general" title="General Information">
			<vu:grid cols="2">
				<vu:text-field object="equipment" field="name" />
				<vu:autocomplete object="equipment" field="baseId" list="bases" labelField="name" />
				<vu:text-field object="equipment" field="code" />
				<vu:select object="equipment" field="equipmentTypeId" list="equipmentTypes" />
				<vu:select object="equipment" field="businessId" list="businesses" labelField="name" />
				<vu:date object="equipment" field="purchaseDate" />
				<vu:chips-autocomplete object="equipment" field="tags" list="tags" staticData="true" />
			</vu:grid>
		</vu:block>
		<vu:block id="location" title="Location">
			<vu:geolocation object="equipment" field="geoLocation" />
		</vu:block>
		<vu:block id="financial" title="Financial value">
			<vu:grid cols="2">
				<vu:text-field object="equipment" field="equipmentValue" suffix=" €" />
				<vu:text-field object="equipment" field="rentingFee" suffix=" €" />
			</vu:grid>
		</vu:block>
		<q-page-sticky position="bottom-right"> <vu:button-submit th:if="${model.modeEdit}" size="lg" icon="save" label="Save" action="@{_save}"
			color="primary" /> <vu:button-submit th:if="${model.modeCreate}" size="lg" icon="save" label="Create" action="@{_create}" color="primary" /> </q-page-sticky>
	</section>
</body>
</html>