<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Equipments' search</title>
		<!-- maps -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css"/>
		<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	</head>
	
	<body>
		<section layout:fragment="content" >	
			<vu:search resultKey="equipments" searchUrl="@{/basemanagement/equipments/_search}" collectionComponentId="equipmentsTable">
				<div class="row q-col-gutter-md">
					<div class="m-title text-h6 self-center" style="flex-basis: 300px;">{{vueData.equipments_totalcount}} Equipments</div>
					<div class="col-md col-sm-12">
						<vu:include-data object="criteria" field="criteria"/>
						<q-input placeholder="Type, Name..." v-model="vueData.criteria.criteria" @input="search('equipments')" :debounce="300"  outlined bg-color="white" dense >
							<template v-slot:prepend><q-icon name="search" /></template>
						</q-input>
					</div>
					<div class="row justify-end items-center text-primary">
						<q-btn round icon="fas fa-table" type="a" th:href="@{?renderer=table}" th::flat="${model.listRenderer != 'table'}"> </q-btn>
						<q-btn round icon="fas fa-map" type="a" th:href="@{?renderer=map}" th::flat="${model.listRenderer != 'map'}"> </q-btn>
					</div>
					<div class="col-break"></div>
					<div class="gt-md" style="flex-basis: 300px;">
						<vu:facets resultKey="equipments" />
					</div>
					<div class="col">
						<th:block th:if="${model.listRenderer == 'table'}">
							<vu:table list="equipments_list" componentId="equipmentsTable" sortUrl="${searchUrl}" color="primary"
							tr_@click.native="|goTo('@{/basemanagement/equipment/}'+props.row.equipmentId)|" tr_class="nav">
								<vu:include-data object="equipments_list" field="equipmentId" />
								<vu:column field="name" />
								<vu:column field="code"/>
								<vu:column field="equipmentTypeName" />
								<vu:column field="equipmentCategoryName" />
							</vu:table>
						</th:block>
						<th:block th:if="${model.listRenderer == 'map'}">
							<vu:include-data object="equipments_list" field="geoLocation" />
							<th:block th:attr="objectKey=${model.vContext['componentStates'].addComponentState('equipmentsTable')}" th:remove="all" />
							<vu:include-data object="criteria" field="geoUpperLeft" />
							<vu:include-data object="criteria" field="geoLowerRight" />
							<vu:include-data object="criteria" field="geoLocation" />
							<vu:include-data object="equipments_cluster" field="geoLocation" />
							<v-map ref="myMap" :initial-center="{ lat : 45.0, lon: 5.0 }" 
								:initial-zoom-level="5"
								style="width:100%; height: 800px;" 
								tabindex="1" id="map" 
								@moveend="function(topLeft, bottomRight) { data.vueData.criteria.geoUpperLeft = {lon:topLeft[0], lat:topLeft[1], _v_inputValue:JSON.stringify({lon:topLeft[0], lat:topLeft[1]})};data.vueData.criteria.geoLowerRight = {lon:bottomRight[0], lat:bottomRight[1], _v_inputValue:JSON.stringify({lon:bottomRight[0], lat:bottomRight[1]})};search('equipments');}"
								@click="function(pos) { data.vueData.criteria.geoLocation = {lon:pos[0], lat:pos[1], _v_inputValue:JSON.stringify({lon:pos[0], lat:pos[1]})};search('equipments');}">
								<!--  v-map-layer :list="vueData.equipments_list" field="geoLocation" name-field="geoLocation" marker-size="45" marker-color="#027BE3" ></v-map-layer  -->
                                <v-map-layer :cluster="vueData.equipments_cluster" field="geoLocation" name-field="geoLocation" marker-size="45" marker-color="#027BE3" ></v-map-layer>
                                <v-map-layer :object="vueData.criteria" field="geoLocation" marker-icon="my_location" marker-color="#880000"></v-map-layer>
							</v-map>
							
						</th:block>
					</div>
				</div>
			</vu:search>
		</section>
	
	</body>
</html>