<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcListLayout}"
>
	<head>
		<title>Equipments' map</title>
		<!-- maps -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css"/>
		<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-map.js}"></script>
	</head>
	
	<body>
		<section layout:fragment="content" >	
				<div class="row q-col-gutter-md">
					<div class="col">
						<v-map :initial-center="{ lat : 45.0, lon: 5.0 }" :initial-zoom-level="5"  tabindex="1" style="height: 100%;" id="map" marker-color="#027BE3" field="geoLocation" name-field="name" th:base-url="@{/api/equipments/}"></v-map>
					</div>
				</div>
			</vu:search>
		</section>
	</body>
</html>