<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Equipment Survey</title>
		<script th:src="@{/vertigo-ui/static/easyforms/js/vertigo-easyforms.js}" th:data-context="@{/}"></script>
	</head>
	
	<body>
		
		<section>
				<div layout:fragment="content-header-left" th:include="basemanagement/equipment/equipmentInformation :: #equipmentIcon"></div>
				<div layout:fragment="content-header-title" th:include="basemanagement/equipment/equipmentInformation :: #equipmentTitle"></div>
				<div layout:fragment="content-header-actions">
					<vu:button-link th:if="${model.modeCreate}" url="@{/basemanagement/equipment/__${model.equipment.equipmentId}__/surveys/}"
								:round size="lg" color="secondary-inverted" icon="fas fa-ban" :flat title="Cancel" class="on-left" 
								v-alert-unsaved-updates="'fields'" />	
				</div>
				<div th:if="${!model.modeCreate}" layout:fragment="content-header-tabs">
					<vu:button-link flat label="Information" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}"/>
					<vu:button-link th:if="${authz.hasOperation(model.equipment,'readTickets')}" flat label="Maintenance" url="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Environment" url="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="VR View" url="@{/basemanagement/equipment/vr/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Spare Parts" url="@{/basemanagement/equipment/spare/} + ${model.equipment.equipmentId}"/>	
					<vu:button-link class="active" flat label="Survey" url="@{/basemanagement/equipment/__${model.equipment.equipmentId}__/surveys/}"/>
				</div>
		</section>
		
		<section layout:fragment="content-nav">
			<q-item tag="a" href="#respondant" th:if="${model.modeReadOnly and model.hasSurvey}">Respondant</q-item>
			<q-item tag="a" href="#survey">Survey</q-item>
		</section>
		
		<section layout:fragment="content">
			<vu:include-data-primitive key="hasSurvey" />
			
			<vu:block id="respondant" title="Respondant" th:if="${model.modeReadOnly and model.hasSurvey}">
				<vu:include-data-protected object="respondant" field="picturefileId"/>
				<div class="row">
					<div class="col-grow row">
						<vu:text-field object="respondant" field="firstName" class="col-12 col-sm-6 col-md-4"/>
						<vu:text-field object="respondant" field="lastName" class="col-12 col-sm-6 col-md-4"/>
						<vu:text-field object="respondant" field="email" />
					</div>
					<div class="on-right">
						<img th::src="|'@{/hr/person/picture/}'+vueData.respondant.picturefileId|" height="150" alt="Avatar"/>
					</div>
				</div>
			</vu:block>
			
			<vu:easy-forms th:if="${model.hasSurvey}" object="survey" field="formulaire" template="${model.modeleFormulaire}" th:elem_class="|col-12 ${model.modeReadOnly ? 'col-md-6':''}|"/>
			
			<vu:block id="survey" title="No survey in progress" th:if="${model.modeReadOnly and !model.hasSurvey}"></vu:block>
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${model.modeCreate}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" />
			</q-page-sticky>
		</section>
	</body>
</html>