<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcDetailNavLayout}"
>
	<head>
		<title>Equipment Survey</title>
		<script th:src="@{/vertigo-ui/static/easyforms/js/vertigo-easyforms.js}" th:data-context="@{/}"></script>
	</head>
	
	<body>
		
		<section>
				<div layout:fragment="content-header-left" th:include="basemanagement/equipment/equipmentInformation :: #equipmentIcon"></div>
				<div layout:fragment="content-header-title" th:include="basemanagement/equipment/equipmentInformation :: #equipmentTitle"></div>
				<div layout:fragment="content-header-actions">
					<vu:button-link th:if="${model.modeCreate}" url="@{/basemanagement/equipment/__${model.equipment.equipmentId}__/surveys/}"
								:round size="lg" color="secondary-inverted" icon="fas fa-ban" :flat title="Cancel" class="on-left" 
								v-alert-unsaved-updates="'fields'" />	
				</div>
				<div th:if="${!model.modeCreate}" layout:fragment="content-header-tabs">
					<vu:button-link flat label="Information" url="@{/basemanagement/equipment/} + ${model.equipment.equipmentId}"/>
					<vu:button-link th:if="${authz.hasOperation(model.equipment,'readTickets')}" flat label="Maintenance" url="@{/basemanagement/equipment/maintenance/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Environment" url="@{/basemanagement/equipment/environment/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="VR View" url="@{/basemanagement/equipment/vr/} + ${model.equipment.equipmentId}"/>
					<vu:button-link flat label="Spare Parts" url="@{/basemanagement/equipment/spare/} + ${model.equipment.equipmentId}"/>	
					<vu:button-link class="active" flat label="Survey" url="@{/basemanagement/equipment/__${model.equipment.equipmentId}__/surveys/}"/>
				</div>
		</section>
		
		<section layout:fragment="content-nav">
			<q-item tag="a" href="#respondant" th:if="${model.modeReadOnly and model.hasSurvey}">Respondant</q-item>
			<q-item tag="a" href="#survey">Survey</q-item>
		</section>
		
		<section layout:fragment="content">
			<vu:include-data-primitive key="hasSurvey" />
			
			<vu:block id="respondant" title="Respondant" th:if="${model.modeReadOnly and model.hasSurvey}">
				<vu:include-data-protected object="respondant" field="picturefileId"/>
				<div class="row">
					<div class="col-grow row">
						<vu:text-field object="respondant" field="firstName" class="col-12 col-sm-6 col-md-4"/>
						<vu:text-field object="respondant" field="lastName" class="col-12 col-sm-6 col-md-4"/>
						<vu:text-field object="respondant" field="email" />
					</div>
					<div class="on-right">
						<img th::src="|'@{/hr/person/picture/}'+vueData.respondant.picturefileId|" height="150" alt="Avatar"/>
					</div>
				</div>
			</vu:block>
			
			<vu:block id="survey" title="Survey" th:if="${model.modeReadOnly and model.hasSurvey}" content_th:classappend="row">
				<vu:include-data-primitive key="surveyDisplay"/>
                <div class="col-12 col-md-6" v-for="(value, name) in vueData.surveyDisplay">
                     <q-field :label="name" orientation="vertical" stack-label readonly borderless >
                         {{ value }}
                     </q-field>
                </div>   
			</vu:block>
			
			<vu:block id="survey" title="No survey in progress" th:if="${model.modeReadOnly and !model.hasSurvey}"></vu:block>
			
			<vu:block id="survey" title="Survey" th:if="${model.modeCreate and model.hasSurvey}">
				<vu:include-data object="survey" field="formulaire" modifiable="true" />
				
				<vui-easy-forms v-model="vueData.survey.formulaire" class="full-width" id="formulaire" >
					<template v-slot:default="slotProps">
						<th:block th:each="field : ${model.modeleFormulaire.fields}" th:with="fieldType = ${model.efoUiUtil.getFieldTypeByName(field.fieldTypeName)}" >
							<div  class="fr-input-group" th::class="|{'fr-input-group--error' : efHasFormError(uiMessageStack, 'survey', '${field.code}')}|">
							    <!--/* 
								<fieldset th:if='${fieldType.isListOfType("CiviliteSexe") && "radio".equals(fieldType.uiComponentName)}' class="fr-fieldset" role="group"
										aria-describedby="|efHasFormError(uiMessageStack, 'survey', '${field.code}') ? 'radio-input-${field.code}-${field.order}-desc-error' : null|"
										th:id="|radio-input-${field.code}-${field.order}|">
									<legend class="fr-fieldset__legend" th:id="|radio-input-${field.code}-${field.order}-legend|" style="display: none;">
										<span vu:text="${field.label}"></span>
									</legend>
									<div th:each="civilite : ${model.civiliteSexeList} " class="fr-fieldset__element">
										<div class="fr-radio-group">
											<input type="radio"
													th:name="${field.code}"
													th:id="|radio-input-${field.code}-${field.order}-${civilite.civCd}|"
													th:value="${civilite.civCd}"
													th:v-model="|slotProps.formulaire['${field.code}']|"
													th:v-autofocus="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|"
													th::aria-describedby="|efHasFormError(uiMessageStack, 'survey', '${field.code}') ? 'radio-input-${field.code}-${field.order}-desc-error' : null|"
													th::aria-invalid="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|"
													th::class="|{'fr-input--error' : efHasFormError(uiMessageStack, 'survey', '${field.code}')}|"
													 >
											<label class="fr-label"
													th:for="|radio-input-${field.code}-${field.order}-${civilite.civCd}|"
													th:text="${civilite.label}" />
										</div>
									</div>
									<div class="fr-messages-group" assert-live="assertive" th:id="|radio-input-${field.code}-${field.order}-messages|">
									</div>
								</fieldset>
								<select th:if='${fieldType.isListOfType("MotifType") && "select".equals(fieldType.uiComponentName)}'
										th:v-autofocus="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|"
										th:v-model="|slotProps.formulaire['${field.code}']|"
										class="fr-select"
										th::aria-describedby="|efHasFormError(uiMessageStack, 'survey', '${field.code}') ? 'text-select-${field.code}-${field.order}-desc-error' : null|"
										th::aria-invalid="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|" 
										th:id="|text-select-${field.code}-${field.order}|"
										th::class="|{'fr-select--error' : efHasFormError(uiMessageStack, 'survey', '${field.code}')}|" >
									<option value="" selected disabled hidden>Selectionnez une option</option>
									<option th:each="motifValue: ${model['motifValues_' + field.code]}" th:value="${motifValue.movId}" vu:text="${motifValue.label}"></option>
								</select>
								 */-->
								<q-input th:unless="${fieldType.uiComponentName == 'radio' || fieldType.uiComponentName == 'select'}"
										label-slot
										th:v-autofocus="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|"
										th:v-model="|slotProps.formulaire['${field.code}']|"
										th::aria-describedby="|efHasFormError(uiMessageStack, 'survey', '${field.code}') ? 'text-input-${field.code}-${field.order}-desc-error' : null|"
										th::aria-invalid="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|" 
										th:id="|text-input-${field.code}-${field.order}|"
										th::error="|efHasFormError(uiMessageStack, 'survey', '${field.code}')|" 
										th::error-message="|efGetFormError(uiMessageStack, 'survey', '${field.code}')|"
										th:type="${fieldType.uiComponentName == 'textfield' ? 'text' : (fieldType.uiComponentName == 'date' ? 'date' : 'text')}"
										th:autocomplete="${fieldType.uiParameters[textFieldAutocomplete]}"
										th:maxlength="${model.efoUiUtil.smartTypeMaxLength(field.fieldTypeName)}"
										orientation="vertical"
										stack-label
										th:classappend="${field.isMandatory?'v-field__required':''}"
										th:aria-required="${field.isMandatory}" >
										<template v-slot:label>
										  <div class="row items-center all-pointer-events non-selectable" style="display: inline-block;">
										    <div vu:text="${field.label}" />
										    <q-tooltip th:if="${field.tooltip}" class="bg-grey-8" anchor="top left" self="bottom left" :delay="300" :offset="[0, 8]"><div vu:text="${field.tooltip}"/></q-tooltip>
										  </div>
										</template>
								</q-input>
							</div>
						</th:block>
					</template>
				</vui-easy-forms>
				<input type="hidden" name="vContext[survey][formulaire]" v-bind:value="JSON.stringify(vueData.survey.formulaire)" />
			</vu:block>
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${model.modeCreate}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" />
			</q-page-sticky>
		</section>
	</body>
</html>